#spacer
{
  padding:5px;
}

#topbanner
{
  border:0px ;
  padding:0px;
  border-spacing:0px;
  margin:0px ;
  height:100px;
  background-color:#0e229b;
}

#content
{
  padding:4px;
}

.general
{
  border: 2px solid black;
}

.general td
{
  padding:2px;
  border: 1px solid black;
  text-align: center;
}
